.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #703b09;
  color: white;
  text-align: center;
}

.calculator{
  margin: 0rem 42rem;
}

.function{
  margin-top: 1rem;

}
